input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}
.ingredients-row > * {
  width: auto;
}
.recipe-edit {
  display: flex;
  background-color: #efefef;
  border: 1px solid #bcbcbc;
  padding: 10px 20px;
  border-radius: 10px;
  width: 100%;
}
.recipe-edit form {
  width: 100%;
}