<div class="recipe-edit">
  <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
    <button type="submit" class="btn btn-success me-2" [disabled]="!recipeForm.valid">Save</button>
    <button type="button" class="btn btn-success" (click)="onCancel()">Cancel</button>

    <div class="form-group w-50">
      <label for="name">Name</label>
      <input type="text" id="name" formControlName="name" class="form-control">
    </div>

    <div class="form-group w-50">
      <label for="duration">Duration (minutes)</label>
      <input type="text" id="duration" formControlName="duration" class="form-control">
    </div>

    <div class="form-group w-50">
      <label for="calories">Calories</label>
      <input type="text" id="calories" formControlName="calories" class="form-control">
    </div>

    <div class="form-group">
      <label for="imagePath">Image URL</label>
      <input type="text" id="imagePath" formControlName="imagePath" class="form-control" #imagePath placeholder="https://..."> 
    </div>

    <img [src]="imagePath.value" class="img-fluid my-3">

    <div class="form-group">
      <label for="description">Description</label>
      <textarea type="text" id="description" class="form-control" formControlName="description" rows="6" placeholder="Short description of the recipe"></textarea>
    </div>

    <div class="row">
      <div class="col-xs-12" formArrayName="ingredients">
        <div class="row ingredients-row" *ngFor="let ingredientCtrl of recipeControls; let i = index"
          [formGroupName]="i" style="margin-top: 10px;">
          <div class="col-xs-8">
            <input type="text" class="form-control" formControlName="name" placeholder="Ingredient name">
          </div>
          <div class="col-xs-2">
            <input type="number" class="form-control" formControlName="amount" placeholder="Amount (pcs)">
          </div>
          <div class="col-xs-2">
            <button type="button" class="btn btn-rounded" (click)="onDeleteIngredient(i)">X</button>
          </div>
        </div>
        <hr>

        <button type="button" class="btn btn-success" (click)="onAddIngredient()">Add Ingredient</button>
      </div>
    </div>
  </form>
</div>