button.btn {
    display: flex;
    align-items: center;
    padding-left: 10px;
}
button.btn span {
    margin-right: 5px;
}
.recipe-detail {
    display: flex;
    flex-direction: column;
    background-color: #efefef;
    border: 1px solid #bcbcbc;
    padding: 10px 20px;
    border-radius: 10px;
}
.recipe-detail img {
    width: 80%;
    align-self: center;
    margin: 10px 0 15px 0;
    border-radius: 8px;
}
.recipe-detail h2 {
    align-self: center;
    font-weight: bold;
    letter-spacing: 3px;
}
.recipe-detail-ul {
    width: 70%;
    align-self: center;
}
.recipe-detail-li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}
.recipe-detail-span {
    border: 1px solid #bcbcbc;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}