<div class="recipe-detail">
  <img [src]="recipe.imagePath" alt="{{ recipe.name }}">
  <h2>{{ recipe.name }}</h2>
  <div class="d-flex my-3 gap-3">
    <button class="btn btn-success" (click)="onEditRecipe()">
      <span class="material-icons material-symbols-outlined">
        edit
      </span>
      Edit Recipe</button>
    <button class="btn btn-success" (click)="onDeleteRecipe()">
      <span class="material-icons material-symbols-outlined">
        delete
      </span>
      Delete Recipe</button>
  </div>
  <p>
    {{ recipe.description }}
  </p>
  
  <ul class="recipe-detail-ul list-unstyled">
    <li class="recipe-detail-li" *ngFor="let ingredient of recipe.ingredients">
      {{ ingredient.name }} <span class="recipe-detail-span">{{ ingredient.amount }}</span>
    </li>
  </ul>
  <div class="d-flex my-3 justify-content-center">
    <button class="btn btn-success" (click)="onAddToShoppingList()">
      <span class="material-icons material-symbols-outlined">
        add
      </span>
      Add To Shopping List</button>
  </div>
  
</div>