<div class="introduction-bg">
    <div class="introduction-main">
        <div class="row">
            <div class="col-12 col-lg-6 d-none d-lg-flex align-items-end">
                <div class="introduction-text">
                    <a routerLink="/" class="introduction-span">
                        <span class="material-icons material-symbols-outlined">
                            arrow_circle_left
                        </span>
                        <span>Back to dashboard</span>
                    </a>
                    <span class="introduction-span">Join our</span>
                    <span class="introduction-span">Foodie Book</span>
                </div>
            </div>
            <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center align-items-lg-center justify-content-lg-end">
                <div class="features-block">
                    <h3 class="features-title">Our Features</h3>
                    <p class="features-desc">A group of foodies came together who are really passionate about the food. We offer a variety of features to help you manage your recipes and
                        shopping list, but doing it in a really fashionable way and most of all - it's really easy to use. </p>
                    <ul class="list-unstyled">
                        <li class="features-desc">
                            <span class="material-icons material-symbols-outlined">
                                edit_note
                            </span>
                            Add, remove or manage your recipes (and also keep track of calories)</li>
                        <li class="features-desc">
                            <span class="material-icons material-symbols-outlined">
                                list_alt
                            </span>
                            Manage your shopping list to keep track of what you need
                        </li>
                        <li class="features-desc">
                            <span class="material-icons material-symbols-outlined">
                                group
                            </span>
                            Collaborate with others who are passionate about food (food blogging, food photography, discovering new places etc)
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>