.introduction-bg {
    display: flex;
    height: 100%;
    background: url('../../assets/img/pexels-vanessa-loring-5971874.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 15px solid #fff;
    border-top: 56px solid #fff;
    border-radius: 0 0 75px 75px;
}
.introduction-main {
    display: flex;
    height: 100%;
    width: 100%;    
}

.introduction-main .row {
    width: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-end; */
}

.introduction-text {
    display: flex;
    flex-direction: column;
}

.introduction-span {
    background-color: #fff;
    color: #000;
    border-radius: 0 30px 0 0;
    font-size: 5.5rem;
    width: fit-content;
    line-height: 1.2;
    letter-spacing: 5px;
    padding: 0 40px 0 20px;
    position: relative;
}
a.introduction-span {
    border-radius: 0 20px 0 0;
    font-size: 1.5rem;
    letter-spacing: 0px;
    text-decoration: none;
    height: 50px;
    align-items: center;
    display: flex;
}
a.introduction-span:hover .material-icons {
    color: #fff;
    border-radius: 15px;
    background-color: #000;
    transition: 0.2s ease-in-out;
}
a.introduction-span .material-icons {
    margin-right: 10px;
    font-size: 30px;
}
.introduction-span::after {
    content: "";
    position: absolute;
    height: 10px;
    width: 20px;
    bottom: 0;
    right: -20px;
    border-radius: 0 0 0 10px;
    -moz-border-radius: 0 0 0 10px;
    -webkit-border-radius: 0 0 0 10px;
    -webkit-box-shadow: -10px 0 0 0 #fff;
    box-shadow: -10px 0 0 0 #fff;
}
.features-block {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 30px;
    border-radius: 20px;
    width: 75%;
}
.features-block ul {
    margin-top: 30px;
}
.features-title {
    font-size: 2rem;
    color: #000;
    font-weight: 700;
    margin-bottom: 20px;
    letter-spacing: 5px;
}
.features-desc {
    font-size: 1.2rem;
    color: #000;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    line-height: 1.4;
}
.features-desc span {
    font-size: 30px;
    margin-right: 10px;
}

@media screen and (max-width: 1200px) {
    .introduction-span {
        font-size: 3.8rem;
    }
    a.introduction-span {
        font-size: 1.3rem;
        letter-spacing: 0px;
    }
}

@media screen and (max-width: 991px) {
    .features-block {
        width: 90%;
        margin-left: 20px;
        height: fit-content;
    }
}

@media screen and (max-width: 767.5px) {
    .introduction-bg {
        border-top: none;
    }
    .features-desc {
        font-size: 1rem;
        line-height: 1.2;
    }
}