<a [routerLink]="[index]" routerLinkActive="active" class="list-group-item recipe-item">
  <div class="w-100">
    <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
    <p class="list-group-item-text recipe-item-desc">{{ recipe.description }}</p>
    <div class="recipe-item-info">
      <p class="recipe-item-info-p">
        <span class="material-icons material-symbols-outlined">
          schedule
        </span> {{ recipe.duration }} min</p>
      <p class="recipe-item-info-p">
        <span class="material-icons material-symbols-outlined">
          restaurant
        </span> {{ recipe.calories }} cal</p>
    </div>
  </div>
  <img [src]="recipe.imagePath" alt="{{ recipe.name }}">
</a>