<main>
    <div class="container-fluid g-0">
        <div class="row g-0">
            <div class="dashboard-container col-12 col-md-6 col-xl-3">
                <div class="dashboard-col dashboard-col-1">
                    <div class="overlay">
                        <span class="dashboard-number">1</span>
                        <h2 class="dashboard-title mb-4">Introduction</h2>
                        <a routerLink="/introduction"
                            class="w-100 d-flex flex-row align-items-center justify-content-between">
                            <p class="dashboard-description mb-0">Everything you need to know about us, our vision and
                                our application</p>
                            <span class="material-icons material-symbols-outlined">
                                arrow_circle_right
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="dashboard-container col-12 col-md-6 col-xl-3">
                <div class="dashboard-col dashboard-col-2">
                    <div class="overlay">
                        <span class="dashboard-number">2</span>
                        <h2 class="dashboard-title mb-4">Collaboration</h2>
                        <a routerLink="/contact" class="w-100 d-flex flex-row align-items-center justify-content-between">
                            <p class="dashboard-description mb-0">Get in touch with us to find out more about collaboration opportunities </p>
                            <span class="material-icons material-symbols-outlined">
                                arrow_circle_right
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="dashboard-container col-12 col-md-6 col-xl-3">
                <div class="dashboard-col dashboard-col-3">
                    <div class="overlay">
                        <span class="dashboard-number">3</span>
                        <h2 class="dashboard-title mb-4">Recipes</h2>
                        <a routerLink="/recipes" class="w-100 d-flex flex-row align-items-center justify-content-between">
                            <p class="dashboard-description mb-0">Find out all about the recipes that you want to manage</p>
                            <span class="material-icons material-symbols-outlined">
                                arrow_circle_right
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="dashboard-container col-12 col-md-6 col-xl-3">
                <div class="dashboard-col dashboard-col-4">
                    <div class="overlay">
                        <span class="dashboard-number">4</span>
                        <h2 class="dashboard-title mb-4">Shopping List</h2>
                        <a routerLink="/shopping-list"
                            class="w-100 d-flex flex-row align-items-center justify-content-between">
                            <p class="dashboard-description mb-0">Manage your own personal shopping list for all of your
                                needs</p>
                            <span class="material-icons material-symbols-outlined">
                                arrow_circle_right
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pre-load dashboard-col-1"></div>
    <div class="pre-load dashboard-col-2"></div>
    <div class="pre-load dashboard-col-3"></div>
    <div class="pre-load dashboard-col-4"></div>
</main>