body {
  height: 100vh;
  /* background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); */
}

* {
  font-family: 'Inter', sans-serif;
}

::selection {
  background-color: #DCFF00;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

button.btn.btn-success {
  border-radius: 25px;
  background: #fff;
  border: 2px solid #198754;
  color: #198754;
  font-weight: bold;
  font-size: 18px;
  padding: 3px 20px;
}
button.btn.btn-rounded {
  border-radius: 25px;
  border-radius: 25px;
  background: #fff;
  border: 2px solid #198754;
  color: #198754;
  font-weight: bold;
  font-size: 18px;
  padding: 3px 12px;
  height: auto;
  width: auto;
}

  
